<div class="page-content-wrap" id="plugin-settings">
    <%= form_tag admin_plugins_camaleon_notification_settings_path do %>
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">CMS Notifications</div>
                <div class="panel-body">
                    <%#= render partial: "admin/settings/custom_fields/render", locals: {record: @plugin, field_groups: @plugin.get_field_groups} %>
                    <% (0..10).each do |index| %>
                        <div class="form-group">
                            <label>Version 1.<%= index %></label>
                            <%= text_area_tag "notification[version-1.#{index}]", @plugin.get_meta("version-1.#{index}"), class: "form-control" %>
                        </div>
                    <% end %>
                </div>
                <div class="panel-footer">
                    <a class="btn btn-default" href="<%= url_for admin_plugins_path %>"><%= t('admin.button.back') %></a>
                    <button class="btn btn-primary pull-right" type="submit"><%= t('admin.button.submit') %></button>
                </div>
            </div>
        </div>
    <% end %>
</div>
<script>
    jQuery(function($){
        $("#plugin-settings textarea").Translatable(["es", "en"]);
    });
</script>